.full-bar {
  border: 1px solid grey;
  height: 2rem;
  background-color: transparent;
}

.amount-bar {
  background-color: black;
  width: 0%;
  height: 2rem;
  border: none;
}

.label-txt {
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  word-wrap: break-word;
  text-align: center;
  margin-top: 5px;
}
@media screen and (max-width: 440px) {
  .label-txt {
    font-size: medium;
  }
}

.row, .scale .lines, .center-v, .spread {
  display: flex;
}

.container, .dotmap-container, .progressbar-container {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
}
@media screen and (max-width: 650px) {
  .container-sm {
    width: 95%;
  }
}

.container-max {
  max-height: 60vw;
}

.progressbar-container {
  border: none;
}

.dotmap-container {
  border: 1px solid grey;
  border-radius: 5px;
}
.dotmap-container .dotmap-title {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  width: 70%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
  word-wrap: break-word;
  /* All browsers since IE 5.5+ */
  overflow-wrap: break-word;
  /* Renamed property in CSS3 draft spec */
  padding: 20px 0px;
}

.spread {
  flex-wrap: wrap;
}

.center-v {
  align-items: center;
}

.legend {
  width: 40%;
  border-radius: 5px;
  margin: 5px;
  padding: 2px;
}
.legend span {
  font-size: larger;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: underline;
  font-weight: bold;
}
.legend .legend-label {
  font-size: larger;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@media screen and (max-width: 650px) {
  .legend .legend-label {
    font-size: large;
  }
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.txt-blue {
  color: #003f5c;
}

.bg-blue {
  background-color: #003f5c;
}

.dot-blue {
  width: 15px;
  height: 15px;
  margin: 5px 5px;
  border-radius: 50%;
  background-color: #003f5c;
  border: 1px solid #003f5c;
}
@media screen and (max-width: 650px) and (min-width: 500px) {
  .dot-blue {
    width: 10px;
    height: 10px;
    margin: 3px 3px;
  }
}
@media screen and (max-width: 501px) {
  .dot-blue {
    width: 5px;
    height: 5px;
    margin: 2px 2px;
  }
}

.scatter-plot-title-blue {
  border: 1px solid #003f5c;
  padding: 5px;
  text-align: center;
  font-size: xx-large;
  color: #003f5c;
}

.bar-blue {
  background-color: #003f5c;
}

.txt-rose {
  color: #f95d6a;
}

.bg-rose {
  background-color: #f95d6a;
}

.dot-rose {
  width: 15px;
  height: 15px;
  margin: 5px 5px;
  border-radius: 50%;
  background-color: #f95d6a;
  border: 1px solid #f95d6a;
}
@media screen and (max-width: 650px) and (min-width: 500px) {
  .dot-rose {
    width: 10px;
    height: 10px;
    margin: 3px 3px;
  }
}
@media screen and (max-width: 501px) {
  .dot-rose {
    width: 5px;
    height: 5px;
    margin: 2px 2px;
  }
}

.scatter-plot-title-rose {
  border: 1px solid #f95d6a;
  padding: 5px;
  text-align: center;
  font-size: xx-large;
  color: #f95d6a;
}

.bar-rose {
  background-color: #f95d6a;
}

.txt-orange {
  color: #ff7c43;
}

.bg-orange {
  background-color: #ff7c43;
}

.dot-orange {
  width: 15px;
  height: 15px;
  margin: 5px 5px;
  border-radius: 50%;
  background-color: #ff7c43;
  border: 1px solid #ff7c43;
}
@media screen and (max-width: 650px) and (min-width: 500px) {
  .dot-orange {
    width: 10px;
    height: 10px;
    margin: 3px 3px;
  }
}
@media screen and (max-width: 501px) {
  .dot-orange {
    width: 5px;
    height: 5px;
    margin: 2px 2px;
  }
}

.scatter-plot-title-orange {
  border: 1px solid #ff7c43;
  padding: 5px;
  text-align: center;
  font-size: xx-large;
  color: #ff7c43;
}

.bar-orange {
  background-color: #ff7c43;
}

.txt-yellow {
  color: #ffa600;
}

.bg-yellow {
  background-color: #ffa600;
}

.dot-yellow {
  width: 15px;
  height: 15px;
  margin: 5px 5px;
  border-radius: 50%;
  background-color: #ffa600;
  border: 1px solid #ffa600;
}
@media screen and (max-width: 650px) and (min-width: 500px) {
  .dot-yellow {
    width: 10px;
    height: 10px;
    margin: 3px 3px;
  }
}
@media screen and (max-width: 501px) {
  .dot-yellow {
    width: 5px;
    height: 5px;
    margin: 2px 2px;
  }
}

.scatter-plot-title-yellow {
  border: 1px solid #ffa600;
  padding: 5px;
  text-align: center;
  font-size: xx-large;
  color: #ffa600;
}

.bar-yellow {
  background-color: #ffa600;
}

.txt-green {
  color: #4f772d;
}

.bg-green {
  background-color: #4f772d;
}

.dot-green {
  width: 15px;
  height: 15px;
  margin: 5px 5px;
  border-radius: 50%;
  background-color: #4f772d;
  border: 1px solid #4f772d;
}
@media screen and (max-width: 650px) and (min-width: 500px) {
  .dot-green {
    width: 10px;
    height: 10px;
    margin: 3px 3px;
  }
}
@media screen and (max-width: 501px) {
  .dot-green {
    width: 5px;
    height: 5px;
    margin: 2px 2px;
  }
}

.scatter-plot-title-green {
  border: 1px solid #4f772d;
  padding: 5px;
  text-align: center;
  font-size: xx-large;
  color: #4f772d;
}

.bar-green {
  background-color: #4f772d;
}

.txt-brown {
  color: #583101;
}

.bg-brown {
  background-color: #583101;
}

.dot-brown {
  width: 15px;
  height: 15px;
  margin: 5px 5px;
  border-radius: 50%;
  background-color: #583101;
  border: 1px solid #583101;
}
@media screen and (max-width: 650px) and (min-width: 500px) {
  .dot-brown {
    width: 10px;
    height: 10px;
    margin: 3px 3px;
  }
}
@media screen and (max-width: 501px) {
  .dot-brown {
    width: 5px;
    height: 5px;
    margin: 2px 2px;
  }
}

.scatter-plot-title-brown {
  border: 1px solid #583101;
  padding: 5px;
  text-align: center;
  font-size: xx-large;
  color: #583101;
}

.bar-brown {
  background-color: #583101;
}

.txt-sky {
  color: #90c2e7;
}

.bg-sky {
  background-color: #90c2e7;
}

.dot-sky {
  width: 15px;
  height: 15px;
  margin: 5px 5px;
  border-radius: 50%;
  background-color: #90c2e7;
  border: 1px solid #90c2e7;
}
@media screen and (max-width: 650px) and (min-width: 500px) {
  .dot-sky {
    width: 10px;
    height: 10px;
    margin: 3px 3px;
  }
}
@media screen and (max-width: 501px) {
  .dot-sky {
    width: 5px;
    height: 5px;
    margin: 2px 2px;
  }
}

.scatter-plot-title-sky {
  border: 1px solid #90c2e7;
  padding: 5px;
  text-align: center;
  font-size: xx-large;
  color: #90c2e7;
}

.bar-sky {
  background-color: #90c2e7;
}

.txt-red {
  color: #902923;
}

.bg-red {
  background-color: #902923;
}

.dot-red {
  width: 15px;
  height: 15px;
  margin: 5px 5px;
  border-radius: 50%;
  background-color: #902923;
  border: 1px solid #902923;
}
@media screen and (max-width: 650px) and (min-width: 500px) {
  .dot-red {
    width: 10px;
    height: 10px;
    margin: 3px 3px;
  }
}
@media screen and (max-width: 501px) {
  .dot-red {
    width: 5px;
    height: 5px;
    margin: 2px 2px;
  }
}

.scatter-plot-title-red {
  border: 1px solid #902923;
  padding: 5px;
  text-align: center;
  font-size: xx-large;
  color: #902923;
}

.bar-red {
  background-color: #902923;
}

.txt-pink {
  color: #ff6392;
}

.bg-pink {
  background-color: #ff6392;
}

.dot-pink {
  width: 15px;
  height: 15px;
  margin: 5px 5px;
  border-radius: 50%;
  background-color: #ff6392;
  border: 1px solid #ff6392;
}
@media screen and (max-width: 650px) and (min-width: 500px) {
  .dot-pink {
    width: 10px;
    height: 10px;
    margin: 3px 3px;
  }
}
@media screen and (max-width: 501px) {
  .dot-pink {
    width: 5px;
    height: 5px;
    margin: 2px 2px;
  }
}

.scatter-plot-title-pink {
  border: 1px solid #ff6392;
  padding: 5px;
  text-align: center;
  font-size: xx-large;
  color: #ff6392;
}

.bar-pink {
  background-color: #ff6392;
}

.txt-grey {
  color: #616060;
}

.bg-grey {
  background-color: #616060;
}

.dot-grey {
  width: 15px;
  height: 15px;
  margin: 5px 5px;
  border-radius: 50%;
  background-color: #616060;
  border: 1px solid #616060;
}
@media screen and (max-width: 650px) and (min-width: 500px) {
  .dot-grey {
    width: 10px;
    height: 10px;
    margin: 3px 3px;
  }
}
@media screen and (max-width: 501px) {
  .dot-grey {
    width: 5px;
    height: 5px;
    margin: 2px 2px;
  }
}

.scatter-plot-title-grey {
  border: 1px solid #616060;
  padding: 5px;
  text-align: center;
  font-size: xx-large;
  color: #616060;
}

.bar-grey {
  background-color: #616060;
}

.scale {
  width: 60%;
  height: 40vw;
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  .scale {
    width: 100%;
    height: 60vw;
  }
}
.scale .lines {
  height: 40vw;
  justify-content: space-between;
}
.scale .lines-v {
  flex-direction: row;
}
@media screen and (max-width: 800px) {
  .scale .lines-v {
    height: 60vw;
  }
}
.scale .lines-h {
  flex-direction: column;
  position: relative;
  bottom: 40vw;
}
@media screen and (max-width: 800px) {
  .scale .lines-h {
    height: 60vw;
    bottom: 60vw;
  }
}
.scale .line {
  border: 1px solid rgb(238, 238, 238);
}

.scale-vals-h {
  display: flex;
  height: 20px;
  width: 60%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-end;
}
@media screen and (max-width: 800px) {
  .scale-vals-h {
    width: 100%;
  }
}

.scale-val {
  font-size: xx-small;
  color: rgb(184, 180, 180);
}

.scale-vals-v {
  width: 10px;
  height: 40vw;
  position: relative;
  bottom: calc(40vw + 20px);
  left: 11vw;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width: 800px) {
  .scale-vals-v {
    height: 60vw;
    left: -4vw;
    bottom: calc(60vw + 20px);
  }
}

.dots {
  position: absolute;
  height: 40vw;
  width: 42%;
  margin: 0 auto;
  bottom: 20vw;
  left: 28vw;
}
@media screen and (max-width: 800px) {
  .dots {
    bottom: 0vw;
    left: 14vw;
    height: 60vw;
    width: 70%;
  }
}
.dots .scale-dot {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 39vw;
  left: -1vw;
}
@media screen and (max-width: 800px) {
  .dots .scale-dot {
    top: 58vw;
    left: -1vw;
  }
}

.bars {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}
.bars .bar {
  margin-left: 10px;
  width: 10%;
  height: 400px;
}
@media screen and (max-width: 600px) {
  .bars .bar {
    height: 300px;
    margin-left: 5px;
  }
}
.bars .bar:hover {
  opacity: 0.6;
}

/*# sourceMappingURL=style.css.map */
