.full-bar {
  border: 1px solid grey;
  height: 2rem;
  background-color: transparent;
}

.amount-bar {
  background-color: black;
  width: 0%;
  height: 2rem;
  border: none;
}

.label-txt {
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  word-wrap: break-word;
  text-align: center;
  margin-top: 5px;
}
@media screen and (max-width: 440px) {
  .label-txt {
    font-size: medium;
  }
}

.row, .scale .lines, .center-v, .spread {
  display: flex;
}

.container, .dotmap-container, .progressbar-container {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
}
@media screen and (max-width: 650px) {
  .container-sm {
    width: 95%;
  }
}

.container-max {
  max-height: 60vw;
}

.progressbar-container {
  border: none;
}

.dotmap-container {
  border-radius: 5px;
}
.dotmap-container .dotmap-title {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  width: 70%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
  word-wrap: break-word;
  /* All browsers since IE 5.5+ */
  overflow-wrap: break-word;
  /* Renamed property in CSS3 draft spec */
  padding: 20px 0px;
}

.spread {
  flex-wrap: wrap;
}

.center-v {
  align-items: center;
}

.legend {
  width: 40%;
  border-radius: 5px;
  margin: 5px;
  padding: 2px;
}
.legend span {
  font-size: larger;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: underline;
  font-weight: bold;
}
.legend .legend-label {
  font-size: larger;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@media screen and (max-width: 650px) {
  .legend .legend-label {
    font-size: large;
  }
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.txt-blue {
  color: #003f5c;
}

.bg-blue {
  background-color: #003f5c;
}

.dot-blue {
  width: 15px;
  height: 15px;
  margin: 5px 5px;
  border-radius: 50%;
  background-color: #003f5c;
  border: 1px solid #003f5c;
}
@media screen and (max-width: 650px) and (min-width: 500px) {
  .dot-blue {
    width: 10px;
    height: 10px;
    margin: 3px 3px;
  }
}
@media screen and (max-width: 501px) {
  .dot-blue {
    width: 5px;
    height: 5px;
    margin: 2px 2px;
  }
}

.scatter-plot-title-blue {
  border: 1px solid #003f5c;
  padding: 5px;
  text-align: center;
  font-size: xx-large;
  color: #003f5c;
}

.bar-blue {
  background-color: #003f5c;
  color: #003f5c;
  overflow: hidden;
  word-wrap: break-word;
  text-align: center;
}
.bar-blue:hover {
  background-color: rgba(0, 63, 92, 0.5);
  color: rgba(0, 63, 92, 0);
}

.bar-category-blue {
  color: #003f5c;
}

.timeline-blue {
  border: 1px solid #003f5c;
}

.period-blue {
  background-color: #003f5c;
}

.set-bg-blue {
  background-color: rgba(0, 63, 92, 0.3);
}

.set-title-blue {
  color: rgba(0, 63, 92, 0.5);
}

.txt-rose {
  color: #f95d6a;
}

.bg-rose {
  background-color: #f95d6a;
}

.dot-rose {
  width: 15px;
  height: 15px;
  margin: 5px 5px;
  border-radius: 50%;
  background-color: #f95d6a;
  border: 1px solid #f95d6a;
}
@media screen and (max-width: 650px) and (min-width: 500px) {
  .dot-rose {
    width: 10px;
    height: 10px;
    margin: 3px 3px;
  }
}
@media screen and (max-width: 501px) {
  .dot-rose {
    width: 5px;
    height: 5px;
    margin: 2px 2px;
  }
}

.scatter-plot-title-rose {
  border: 1px solid #f95d6a;
  padding: 5px;
  text-align: center;
  font-size: xx-large;
  color: #f95d6a;
}

.bar-rose {
  background-color: #f95d6a;
  color: #f95d6a;
  overflow: hidden;
  word-wrap: break-word;
  text-align: center;
}
.bar-rose:hover {
  background-color: rgba(249, 93, 106, 0.5);
  color: rgba(249, 93, 106, 0);
}

.bar-category-rose {
  color: #f95d6a;
}

.timeline-rose {
  border: 1px solid #f95d6a;
}

.period-rose {
  background-color: #f95d6a;
}

.set-bg-rose {
  background-color: rgba(249, 93, 106, 0.3);
}

.set-title-rose {
  color: rgba(249, 93, 106, 0.5);
}

.txt-orange {
  color: #ff7c43;
}

.bg-orange {
  background-color: #ff7c43;
}

.dot-orange {
  width: 15px;
  height: 15px;
  margin: 5px 5px;
  border-radius: 50%;
  background-color: #ff7c43;
  border: 1px solid #ff7c43;
}
@media screen and (max-width: 650px) and (min-width: 500px) {
  .dot-orange {
    width: 10px;
    height: 10px;
    margin: 3px 3px;
  }
}
@media screen and (max-width: 501px) {
  .dot-orange {
    width: 5px;
    height: 5px;
    margin: 2px 2px;
  }
}

.scatter-plot-title-orange {
  border: 1px solid #ff7c43;
  padding: 5px;
  text-align: center;
  font-size: xx-large;
  color: #ff7c43;
}

.bar-orange {
  background-color: #ff7c43;
  color: #ff7c43;
  overflow: hidden;
  word-wrap: break-word;
  text-align: center;
}
.bar-orange:hover {
  background-color: rgba(255, 124, 67, 0.5);
  color: rgba(255, 124, 67, 0);
}

.bar-category-orange {
  color: #ff7c43;
}

.timeline-orange {
  border: 1px solid #ff7c43;
}

.period-orange {
  background-color: #ff7c43;
}

.set-bg-orange {
  background-color: rgba(255, 124, 67, 0.3);
}

.set-title-orange {
  color: rgba(255, 124, 67, 0.5);
}

.txt-yellow {
  color: #ffa600;
}

.bg-yellow {
  background-color: #ffa600;
}

.dot-yellow {
  width: 15px;
  height: 15px;
  margin: 5px 5px;
  border-radius: 50%;
  background-color: #ffa600;
  border: 1px solid #ffa600;
}
@media screen and (max-width: 650px) and (min-width: 500px) {
  .dot-yellow {
    width: 10px;
    height: 10px;
    margin: 3px 3px;
  }
}
@media screen and (max-width: 501px) {
  .dot-yellow {
    width: 5px;
    height: 5px;
    margin: 2px 2px;
  }
}

.scatter-plot-title-yellow {
  border: 1px solid #ffa600;
  padding: 5px;
  text-align: center;
  font-size: xx-large;
  color: #ffa600;
}

.bar-yellow {
  background-color: #ffa600;
  color: #ffa600;
  overflow: hidden;
  word-wrap: break-word;
  text-align: center;
}
.bar-yellow:hover {
  background-color: rgba(255, 166, 0, 0.5);
  color: rgba(255, 166, 0, 0);
}

.bar-category-yellow {
  color: #ffa600;
}

.timeline-yellow {
  border: 1px solid #ffa600;
}

.period-yellow {
  background-color: #ffa600;
}

.set-bg-yellow {
  background-color: rgba(255, 166, 0, 0.3);
}

.set-title-yellow {
  color: rgba(255, 166, 0, 0.5);
}

.txt-green {
  color: #4f772d;
}

.bg-green {
  background-color: #4f772d;
}

.dot-green {
  width: 15px;
  height: 15px;
  margin: 5px 5px;
  border-radius: 50%;
  background-color: #4f772d;
  border: 1px solid #4f772d;
}
@media screen and (max-width: 650px) and (min-width: 500px) {
  .dot-green {
    width: 10px;
    height: 10px;
    margin: 3px 3px;
  }
}
@media screen and (max-width: 501px) {
  .dot-green {
    width: 5px;
    height: 5px;
    margin: 2px 2px;
  }
}

.scatter-plot-title-green {
  border: 1px solid #4f772d;
  padding: 5px;
  text-align: center;
  font-size: xx-large;
  color: #4f772d;
}

.bar-green {
  background-color: #4f772d;
  color: #4f772d;
  overflow: hidden;
  word-wrap: break-word;
  text-align: center;
}
.bar-green:hover {
  background-color: rgba(79, 119, 45, 0.5);
  color: rgba(79, 119, 45, 0);
}

.bar-category-green {
  color: #4f772d;
}

.timeline-green {
  border: 1px solid #4f772d;
}

.period-green {
  background-color: #4f772d;
}

.set-bg-green {
  background-color: rgba(79, 119, 45, 0.3);
}

.set-title-green {
  color: rgba(79, 119, 45, 0.5);
}

.txt-brown {
  color: #583101;
}

.bg-brown {
  background-color: #583101;
}

.dot-brown {
  width: 15px;
  height: 15px;
  margin: 5px 5px;
  border-radius: 50%;
  background-color: #583101;
  border: 1px solid #583101;
}
@media screen and (max-width: 650px) and (min-width: 500px) {
  .dot-brown {
    width: 10px;
    height: 10px;
    margin: 3px 3px;
  }
}
@media screen and (max-width: 501px) {
  .dot-brown {
    width: 5px;
    height: 5px;
    margin: 2px 2px;
  }
}

.scatter-plot-title-brown {
  border: 1px solid #583101;
  padding: 5px;
  text-align: center;
  font-size: xx-large;
  color: #583101;
}

.bar-brown {
  background-color: #583101;
  color: #583101;
  overflow: hidden;
  word-wrap: break-word;
  text-align: center;
}
.bar-brown:hover {
  background-color: rgba(88, 49, 1, 0.5);
  color: rgba(88, 49, 1, 0);
}

.bar-category-brown {
  color: #583101;
}

.timeline-brown {
  border: 1px solid #583101;
}

.period-brown {
  background-color: #583101;
}

.set-bg-brown {
  background-color: rgba(88, 49, 1, 0.3);
}

.set-title-brown {
  color: rgba(88, 49, 1, 0.5);
}

.txt-sky {
  color: #90c2e7;
}

.bg-sky {
  background-color: #90c2e7;
}

.dot-sky {
  width: 15px;
  height: 15px;
  margin: 5px 5px;
  border-radius: 50%;
  background-color: #90c2e7;
  border: 1px solid #90c2e7;
}
@media screen and (max-width: 650px) and (min-width: 500px) {
  .dot-sky {
    width: 10px;
    height: 10px;
    margin: 3px 3px;
  }
}
@media screen and (max-width: 501px) {
  .dot-sky {
    width: 5px;
    height: 5px;
    margin: 2px 2px;
  }
}

.scatter-plot-title-sky {
  border: 1px solid #90c2e7;
  padding: 5px;
  text-align: center;
  font-size: xx-large;
  color: #90c2e7;
}

.bar-sky {
  background-color: #90c2e7;
  color: #90c2e7;
  overflow: hidden;
  word-wrap: break-word;
  text-align: center;
}
.bar-sky:hover {
  background-color: rgba(144, 194, 231, 0.5);
  color: rgba(144, 194, 231, 0);
}

.bar-category-sky {
  color: #90c2e7;
}

.timeline-sky {
  border: 1px solid #90c2e7;
}

.period-sky {
  background-color: #90c2e7;
}

.set-bg-sky {
  background-color: rgba(144, 194, 231, 0.3);
}

.set-title-sky {
  color: rgba(144, 194, 231, 0.5);
}

.txt-red {
  color: #902923;
}

.bg-red {
  background-color: #902923;
}

.dot-red {
  width: 15px;
  height: 15px;
  margin: 5px 5px;
  border-radius: 50%;
  background-color: #902923;
  border: 1px solid #902923;
}
@media screen and (max-width: 650px) and (min-width: 500px) {
  .dot-red {
    width: 10px;
    height: 10px;
    margin: 3px 3px;
  }
}
@media screen and (max-width: 501px) {
  .dot-red {
    width: 5px;
    height: 5px;
    margin: 2px 2px;
  }
}

.scatter-plot-title-red {
  border: 1px solid #902923;
  padding: 5px;
  text-align: center;
  font-size: xx-large;
  color: #902923;
}

.bar-red {
  background-color: #902923;
  color: #902923;
  overflow: hidden;
  word-wrap: break-word;
  text-align: center;
}
.bar-red:hover {
  background-color: rgba(144, 41, 35, 0.5);
  color: rgba(144, 41, 35, 0);
}

.bar-category-red {
  color: #902923;
}

.timeline-red {
  border: 1px solid #902923;
}

.period-red {
  background-color: #902923;
}

.set-bg-red {
  background-color: rgba(144, 41, 35, 0.3);
}

.set-title-red {
  color: rgba(144, 41, 35, 0.5);
}

.txt-pink {
  color: #ff6392;
}

.bg-pink {
  background-color: #ff6392;
}

.dot-pink {
  width: 15px;
  height: 15px;
  margin: 5px 5px;
  border-radius: 50%;
  background-color: #ff6392;
  border: 1px solid #ff6392;
}
@media screen and (max-width: 650px) and (min-width: 500px) {
  .dot-pink {
    width: 10px;
    height: 10px;
    margin: 3px 3px;
  }
}
@media screen and (max-width: 501px) {
  .dot-pink {
    width: 5px;
    height: 5px;
    margin: 2px 2px;
  }
}

.scatter-plot-title-pink {
  border: 1px solid #ff6392;
  padding: 5px;
  text-align: center;
  font-size: xx-large;
  color: #ff6392;
}

.bar-pink {
  background-color: #ff6392;
  color: #ff6392;
  overflow: hidden;
  word-wrap: break-word;
  text-align: center;
}
.bar-pink:hover {
  background-color: rgba(255, 99, 146, 0.5);
  color: rgba(255, 99, 146, 0);
}

.bar-category-pink {
  color: #ff6392;
}

.timeline-pink {
  border: 1px solid #ff6392;
}

.period-pink {
  background-color: #ff6392;
}

.set-bg-pink {
  background-color: rgba(255, 99, 146, 0.3);
}

.set-title-pink {
  color: rgba(255, 99, 146, 0.5);
}

.txt-grey {
  color: #616060;
}

.bg-grey {
  background-color: #616060;
}

.dot-grey {
  width: 15px;
  height: 15px;
  margin: 5px 5px;
  border-radius: 50%;
  background-color: #616060;
  border: 1px solid #616060;
}
@media screen and (max-width: 650px) and (min-width: 500px) {
  .dot-grey {
    width: 10px;
    height: 10px;
    margin: 3px 3px;
  }
}
@media screen and (max-width: 501px) {
  .dot-grey {
    width: 5px;
    height: 5px;
    margin: 2px 2px;
  }
}

.scatter-plot-title-grey {
  border: 1px solid #616060;
  padding: 5px;
  text-align: center;
  font-size: xx-large;
  color: #616060;
}

.bar-grey {
  background-color: #616060;
  color: #616060;
  overflow: hidden;
  word-wrap: break-word;
  text-align: center;
}
.bar-grey:hover {
  background-color: rgba(97, 96, 96, 0.5);
  color: rgba(97, 96, 96, 0);
}

.bar-category-grey {
  color: #616060;
}

.timeline-grey {
  border: 1px solid #616060;
}

.period-grey {
  background-color: #616060;
}

.set-bg-grey {
  background-color: rgba(97, 96, 96, 0.3);
}

.set-title-grey {
  color: rgba(97, 96, 96, 0.5);
}

.scale {
  width: 60%;
  height: 40vw;
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  .scale {
    width: 100%;
    height: 60vw;
  }
}
.scale .lines {
  height: 40vw;
  justify-content: space-between;
}
.scale .lines-v {
  flex-direction: row;
}
@media screen and (max-width: 800px) {
  .scale .lines-v {
    height: 60vw;
  }
}
.scale .lines-h {
  flex-direction: column;
  position: relative;
  bottom: 40vw;
}
@media screen and (max-width: 800px) {
  .scale .lines-h {
    height: 60vw;
    bottom: 60vw;
  }
}
.scale .line {
  border: 1px solid rgb(238, 238, 238);
}

.scale-vals-h {
  display: flex;
  height: 20px;
  width: 60%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-end;
}
@media screen and (max-width: 800px) {
  .scale-vals-h {
    width: 100%;
  }
}

.scale-val {
  font-size: xx-small;
  color: rgb(184, 180, 180);
}

.scale-vals-v {
  width: 10px;
  height: 40vw;
  position: relative;
  bottom: calc(40vw + 20px);
  left: 11vw;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width: 800px) {
  .scale-vals-v {
    height: 60vw;
    left: -4vw;
    bottom: calc(60vw + 20px);
  }
}

.dots {
  position: absolute;
  height: 40vw;
  width: 42%;
  margin: 0 auto;
  bottom: 20vw;
  left: 28vw;
}
@media screen and (max-width: 800px) {
  .dots {
    bottom: 0vw;
    left: 14vw;
    height: 60vw;
    width: 70%;
  }
}
.dots .scale-dot {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 39vw;
  left: -1vw;
}
@media screen and (max-width: 800px) {
  .dots .scale-dot {
    top: 58vw;
    left: -1vw;
  }
}

.bars {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}
.bars .bar {
  margin-left: 10px;
  width: 10%;
  height: 450px;
  z-index: 1;
  position: relative;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .bars .bar {
    margin-left: 5px;
  }
}

.bar-category {
  width: 15%;
  border: 1px solid black;
  height: auto;
  position: fixed;
  background-color: white;
  text-align: center;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  z-index: 100;
}
@media screen and (max-width: 600px) {
  .bar-category {
    font-size: small;
    font-weight: normal;
  }
}

.title {
  text-align: center;
  font-size: xx-large;
  margin-bottom: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.barplot-v-scale {
  height: 450px;
  width: 5%;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  right: 5%;
  flex-direction: column;
  justify-content: space-between;
  color: rgba(128, 128, 128, 0.6);
}
@media screen and (max-width: 600px) {
  .barplot-v-scale {
    right: 10%;
  }
}

.timeline-container {
  margin: 0 auto;
  width: 85%;
  margin-top: 35px;
}
.timeline-container .timeline {
  width: 100%;
  max-height: 0px;
}
.timeline-container .periods {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  max-height: 0px;
}
.timeline-container .period {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 50%;
}

.word-counter {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  width: 70%;
  margin: 30px auto;
  font-family: tahoma;
}
.word-counter .word-count-title {
  width: 100%;
  text-align: center;
  font-size: xx-large;
  margin-bottom: 10px;
}
.word-counter .words {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.word-counter .word-info {
  width: 33.333%;
  font-size: x-large;
}
@media screen and (max-width: 500px) {
  .word-counter .word-info {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .word-counter {
    width: 80%;
  }
}

.venn-diagram {
  margin: 20px auto;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}
.venn-diagram .set-one {
  width: 40%;
  height: 0px;
  padding-bottom: 40%;
  border-radius: 100%;
  position: relative;
  left: 12%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
@media screen and (max-width: 590px) {
  .venn-diagram .set-one {
    width: 50%;
    padding-bottom: 50%;
  }
}
.venn-diagram .set-two {
  width: 40%;
  height: 0px;
  padding-bottom: 40%;
  border-radius: 100%;
  position: relative;
  right: 12%;
  margin: 0 auto;
}
@media screen and (max-width: 590px) {
  .venn-diagram .set-two {
    width: 50%;
    padding-bottom: 50%;
  }
}
.venn-diagram .set-one-title, .venn-diagram .set-two-title {
  width: 50%;
  padding-top: 100%;
  text-align: center;
  margin: 0 auto;
}
@media screen and (max-width: 590px) {
  .venn-diagram {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
