@mixin styleFullBar() {
    border: 1px solid grey;
    height: 2rem;
    background-color: transparent;
}

@mixin styleAmountBar() {
    background-color: black; // default
    width: 0%;
    height: 2rem;
    border: none;
}

@mixin styleLabel() {
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-wrap: break-word;
    text-align: center;
    margin-top: 5px;

    @media screen and (max-width: 440px){
        font-size: medium;
    }
}

@mixin createDot() {
    width: 15px;
    height: 15px;
    margin: 5px 5px;
    border-radius: 50%;

    @media  screen and (max-width: 650px) and (min-width: 500px) {
        width: 10px;
        height: 10px;
        margin: 3px 3px;

    }
    @media  screen and (max-width: 501px) {
        width: 5px;
        height: 5px;
        margin: 2px 2px;

    }
}