@mixin styleFullBar() {
    border: 1px solid grey;
    height: 2rem;
    background-color: transparent;
}

@mixin styleAmountBar($bgColor) {
    background-color: $bgColor;
    width: 0%;
    height: 2rem;
    border: none;
}

@mixin styleLabel($color) {
    color: $color;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-wrap: break-word;
    text-align: center;
    margin-top: 5px;
}