@import 'mixins';
@import 'variables';
.full-bar{
    @include styleFullBar();
}
.amount-bar{
    @include styleAmountBar();
}
.label-txt {
    @include styleLabel();
}

.row {
    display: flex;
}
.container {
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    margin-top: 10px;
}
.spread {
    @extend .row;
    flex-wrap: wrap;
}
.center-v {
    @extend .row;
    align-items: center;
}
.legend {
    width: 40%;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
    & span {
        font-size: larger;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-decoration: underline;
    }
    & .legend-label {
        font-size: larger;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        @media  screen and (max-width: 650px){
            font-size: large;
    
        }
    }
}

@for $i from 1 through 12 {
    .col-#{$i}{
        width: calc($i / 12)*100%;
    }
}
@each $name,$val in $themes {
    .txt-#{$name} {
        color: $val;
    }
    .bg-#{$name} {
        background-color: $val;
    }
    .dot-#{$name}-empty {
        @include createDot();
        background-color: $val;
        border: 1px solid $val;
    }
    .dot-#{$name}-full {
        @include createDot();
        background-color: $val;
        border: 1px solid $val;
    }
}